body {
  min-height: 100vh;
  min-height: -webkit-fill-available;
}

html {
  height: -webkit-fill-available;
}

main {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  height: -webkit-fill-available;
  max-height: 200vh;
  overflow-x: auto;
  overflow-y: hidden;
  justify-content: center;
}

/* Responsive layout - makes a one column layout instead of a two-column layout */
@media (max-width: 800px) {
  main {
    flex-direction: column;
  }
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.bi {
  vertical-align: -.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }


body {
  font-family: "helvetica", sans-serif;
}


.message {
  color: red;
}

button {
  border-color: transparent;
  background-color: rgb(222, 224, 228);
  margin: 0.5em;
}

.non-style-button {
  background-color: transparent;

}

.form-label {
  font-size: medium
}

.login-info{
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}

#app-title {
  display: flex;
  min-height: 4rem;
  border-bottom: 1px solid gray;
}

@media (max-width: 800px) {
  #app-title, #search {
    flex-direction: column;
  }
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  vertical-align: middle;
  color: inherit;
}


label textarea{
  vertical-align: top;
}

.edit-user-info {
  display: inline;
}

/* #edit-user-profile{
  width: 80%;
  height: fit-content;
} */

#sign-out{
  background-color: #d2f4ea;
  width: 5rem;
  max-height: 2rem;
}

#assign_user {
  width: 60%;
}

.assign-user-edit {
  display: inline;
}

#assign_user_edit {
  margin: 0.3em;
  width: 50%;
}

/*search box css start here*/
.search-sec{
  padding-top: 0.5rem;
}
.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
.wrn-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}

#editNameInProfile{
  min-width: 21rem;
}

#profileEditButton {
  margin-left: 13rem;
}




