body {
  font-family: "helvetica", sans-serif;
}

#message_cre, #message_inv, #message_task, #message_rename {
  color: red;
}

button {
  border-color: transparent;
  background-color: rgb(222, 224, 228);
  margin: 0.5em;
}

#create-task-board {
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}

.form-label {
  font-size: medium
}

.login-info{
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
}

#app-title {
  display: flex;
  min-height: 4rem;
  border-bottom: 1px solid gray;
}

@media (max-width: 800px) {
  #app-title, #search {
    flex-direction: column;
  }
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  vertical-align: middle;
  color: inherit;
}

.active-task-form {
  display: inline;
}

#active-task-button {
 margin-left: 31rem;
}

.edit-user-info {
  display: inline;
}

#edit-user-profile{
  width: 80%;
  height: fit-content;
}

#sign-out{
  background-color: #d2f4ea;
  width: 5rem;
  max-height: 2rem;
}

#assign_user {
  width: 60%;
}

#edit-task {
  margin: 3rem;
}

.assign-user-edit {
  display: inline;
}

#assign_user_edit {
  margin: 0.3em;
  width: 50%;
}

#message_task {
  margin-left: 3em;
}

/*search box css start here*/
.search-sec{
  padding-top: 0.5rem;
}
.search-slt{
  display: block;
  width: 100%;
  font-size: 0.875rem;
  line-height: 1.5;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
.wrn-btn{
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
  height: calc(3rem + 2px) !important;
  border-radius:0;
}
