<!DOCTYPE html>
<html>
  <head lang="en">
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="{{ url_for('static', filename='jquery-3.6.0.min.js') }}"></script>

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <!-- Custom styles for this template -->
    <title>Task Management</title>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{{ url_for('static', filename='sidebars.css') }}"
    />
  </head>
  <body>
    <div id="app-title">
      <h1>
        <a href="/">
          <svg class="bi me-2" width="30" height="24">
            <use xlink:href="#briefcase" /></svg
          >Task Management
        </a>
      </h1>
    </div>

    <div id="firebase-auth-container"></div>

    <button id="sign-out" hidden="true" class="link-dark rounded">
      Sign out
    </button>

    <div id="login-info" hidden="true">
      {% if user_data %}

      <!-- Bootstrap sidebar templates -->
      <svg xmlns="http://www.w3.org/2000/svg" style="display: none">
        <symbol id="bootstrap" viewBox="0 0 118 94">
          <title>Bootstrap</title>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M24.509 0c-6.733 0-11.715 5.893-11.492 12.284.214 6.14-.064 14.092-2.066 20.577C8.943 39.365 5.547 43.485 0 44.014v5.972c5.547.529 8.943 4.649 10.951 11.153 2.002 6.485 2.28 14.437 2.066 20.577C12.794 88.106 17.776 94 24.51 94H93.5c6.733 0 11.714-5.893 11.491-12.284-.214-6.14.064-14.092 2.066-20.577 2.009-6.504 5.396-10.624 10.943-11.153v-5.972c-5.547-.529-8.934-4.649-10.943-11.153-2.002-6.484-2.28-14.437-2.066-20.577C105.214 5.894 100.233 0 93.5 0H24.508zM80 57.863C80 66.663 73.436 72 62.543 72H44a2 2 0 01-2-2V24a2 2 0 012-2h18.437c9.083 0 15.044 4.92 15.044 12.474 0 5.302-4.01 10.049-9.119 10.88v.277C75.317 46.394 80 51.21 80 57.863zM60.521 28.34H49.948v14.934h8.905c6.884 0 10.68-2.772 10.68-7.727 0-4.643-3.264-7.207-9.012-7.207zM49.948 49.2v16.458H60.91c7.167 0 10.964-2.876 10.964-8.281 0-5.406-3.903-8.178-11.425-8.178H49.948z"
          ></path>
        </symbol>
        <symbol
          id="briefcase"
          width="25"
          height="30"
          fill="currentColor"
          class="bi bi-briefcase"
          viewBox="0 0 16 19"
        >
          <path
            d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z"
          />
        </symbol>
        <symbol
          id="card-list"
          width="25"
          height="30"
          fill="currentColor"
          class="bi bi-card-list"
          viewBox="0 0 16 19"
        >
          <path
            d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"
          />
          <path
            d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"
          />
        </symbol>
        <symbol
          id="list"
          width="25"
          height="30"
          fill="currentColor"
          class="bi bi-card-list"
          viewBox="0 0 16 19"
        >
          <path
            fill-rule="evenodd"
            d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"
          />
        </symbol>
        <symbol
          id="award"
          width="25"
          height="30"
          fill="currentColor"
          class="bi bi-card-list"
          viewBox="0 0 16 19"
        >
          <path
            d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"
          />
          <path
            d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"
          />
        </symbol>
      </svg>

      <main>
        {% for i in task_board %}
        <div class="flex-shrink-0 p-3 bg-white" style="width: 460px">
          <a
            class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom"
          >
            <svg class="bi me-2" width="30" height="24">
              <use xlink:href="#list" />
            </svg>
            <span class="fs-5 fw-semibold">Menu</span>
          </a>
          <ul class="list-unstyled ps-0">
            <li class="mb-1">
              <h4>
                Task Board {{ i['title'] }} {% if user_data['email'] ==
                i['owner'] %}
                <svg class="bi me-2" width="30" height="24">
                  <use xlink:href="#award" /></svg
                >{% endif %}
              </h4>
              Owner: {{ i['owner'] }}<br />
              Members: {{ i['user'] }} <br />
            </li>
            <li class="border-top my-3"></li>
            {% if user_data['email'] == i['owner'] %}
            <li class="mb-1">
              <button
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#rename-collapse"
                aria-expanded="false"
              >
                Rename Task Board
              </button>
              <div class="collapse" id="rename-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li>
                    <form action="/rename_board/{{i['id']}}" method="post">
                      <input type="text" name="rename" />
                      <button type="submit">Rename Task Board</button>
                    </form>
                  </li>
                </ul>
              </div>
            </li>
            <p id="message_rename"></p>
            <!-- display the message if fail to rename task board-->
            <script>
              const searchParams_rename = new URLSearchParams(
                window.location.search
              );
              var warningRename = searchParams_rename.get("warningRename");
              console.log(warningRename);
              if (warningRename == 1)
                document.getElementById("message_rename").innerHTML =
                  "You should input title";
              else if (warningRename == 2)
                document.getElementById("message_rename").innerHTML =
                  "There is same name already";
            </script>
            <li class="border-top my-3"></li>

            <li class="mb-1">
              <button
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#invite-collapse"
                aria-expanded="false"
              >
                Invite User
              </button>
              <div class="collapse" id="invite-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li>
                    <form action="/invite_user/{{i['id']}}" method="post">
                      <input type="text" name="invite_user" />
                      <button type="submit">Invite user</button>
                    </form>
                  </li>
                  <!-- <li><a href="#" class="link-dark rounded">Returned</a></li> -->
                </ul>
              </div>
            </li>
            <p id="message_inv"></p>
            <!-- display the message if fail to invite user-->
            <script>
              const searchParams = new URLSearchParams(window.location.search);
              var warning = searchParams.get("warning");
              console.log(warning);
              if (warning == 1)
                document.getElementById("message_inv").innerHTML =
                  "You should input user ";
              else if (warning == 2)
                document.getElementById("message_inv").innerHTML =
                  "There is no user who has such name";
              else if (warning == 3)
                document.getElementById("message_inv").innerHTML =
                  "That user is invited already";
              else if (warning == 4)
                document.getElementById("message_inv").innerHTML =
                  "The owner can not be invited as member";
            </script>

            <li class="border-top my-3"></li>
            {% endif %}

            <li class="mb-1">
              <button
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#create-collapse"
                aria-expanded="false"
              >
                Create Task
              </button>
              <div class="collapse" id="create-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li>
                    <form action="/create_task/{{i['id']}}" method="post">
                      Task Name: <input type="text" name="title" /><br />
                      Due date: <input type="date" name="due_date" /><br />
                      <label for="assign_user">Assign user:</label>
                      <select
                        name="assign_user"
                        id="assign_user"
                        class="form-select form-select-sm create-task-form"
                        aria-label=".form-select-sm example"
                      >
                        <option value="None">None</option>
                        {% for n in i['user'] %}
                        <option value="{{n}}">{{n}}</option>
                        {% endfor %}
                      </select>
                      <button type="submit" class="create-task-form">
                        Add task
                      </button>
                    </form>
                  </li>
                  <!-- <li><a href="#" class="link-dark rounded">Returned</a></li> -->
                </ul>
              </div>
            </li>
            <p id="message_task"></p>
            <!-- display the message if fail to create task-->
            <script>
              const searchPramsTask = new URLSearchParams(
                window.location.search
              );
              var warningTask = searchPramsTask.get("warningTask");
              console.log(warningTask);
              if (warningTask == 1)
                document.getElementById("message_task").innerHTML =
                  "You should input title";
              else if (warningTask == 2)
                document.getElementById("message_task").innerHTML =
                  "There is same name already";
            </script>

            <li class="border-top my-3"></li>

            <li class="mb-1">
              <button
                class="btn btn-toggle align-items-center rounded collapsed"
                data-bs-toggle="collapse"
                data-bs-target="#account-collapse"
                aria-expanded="false"
              >
                Login Info
              </button>
              <div class="collapse" id="account-collapse">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                  <li class="login-info form-label">
                    Name: {{ user_data['name'] }}
                  </li>
                  <li class="login-info form-label">
                    Email: {{ user_data['email'] }}
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>

        <div class="b-example-divider"></div>

        <div
          class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
          style="width: 641px"
        >
          <a
            class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom"
          >
            <svg class="bi me-2" width="30" height="24">
              <use xlink:href="#card-list" />
            </svg>
            <span class="fs-5 fw-semibold">Active Task List</span>
          </a>
          <div class="list-group list-group-flush border-bottom scrollarea">
            {% for k in task %} {% if k['is_complete'] == False %}
            <a class="list-group-item list-group-item-action py-3 lh-tight">
              <div
                class="d-flex w-100 align-items-center justify-content-between"
              >
                <strong class="mb-1">{{k['title']}}</strong>
                <small class="text-muted">
                  <form
                    id="complete_{{k['id']}}"
                    action="/complete_task/{{i['id']}}/{{k['id']}}"
                    method="get"
                  >
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="checkbox"
                      id="checkbox_{{k['id']}}"
                      aria-label="..."
                    />
                    <label for="checkbox">Complete</label>
                  </form>
                  <script type="text/javascript">
                    $(function () {
                      $("#checkbox_{{k['id']}}").on("change", function () {
                        $("#complete_{{k['id']}}").submit();
                      });
                    });
                  </script></small
                >
              </div>
              <div class="col-10 mb-1 small">Due Date: {{k['due_date']}}</div>
              <div class="col-10 mb-1 small">
                Assigned User: {{k['assigned_user']}}
              </div>
              <div class="col-10 mb-1 small" id="active-task-button">
                <form
                  class="active-task-form"
                  id="edit_task"
                  action="/edit_task_page/{{i['id']}}/{{k['id']}}"
                  method="post"
                >
                  <button type="submit">edit</button>
                </form>
                <form
                  class="active-task-form"
                  id="delete_task"
                  action="/delete_task/{{i['id']}}/{{k['id']}}"
                  method="post"
                >
                  <button type="submit">delete</button>
                </form>
              </div>
            </a>
            {% endif %} {% endfor %}
          </div>
        </div>

        <div class="b-example-divider"></div>

        <div
          class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white"
          style="width: 621px"
        >
          <a
            class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom"
          >
            <svg class="bi me-2" width="30" height="24">
              <use xlink:href="#card-list" />
            </svg>
            <span class="fs-5 fw-semibold">Completed Task List</span>
          </a>
          <div class="list-group list-group-flush border-bottom scrollarea">
            {% for n in task2 %} {% if n['is_complete'] == True %}
            <a
              href="#"
              class="list-group-item list-group-item-action py-3 lh-tight"
            >
              <div
                class="d-flex w-100 align-items-center justify-content-between"
              >
                <strong class="mb-1">{{n['title']}}</strong>
                <small class="text-muted">
                  <form
                    id="delete_completed_task"
                    action="/delete_task/{{i['id']}}/{{n['id']}}"
                    method="post"
                  >
                    <button type="submit">delete</button>
                  </form></small
                >
              </div>
              <div class="col-10 mb-1 small">
                Assigned User: {{n['assigned_user']}}
              </div>
              <div class="col-10 mb-1 small">
                Completed Time: {{n['completion_time']}}
              </div>
            </a>
            {% endif %} {% endfor %}
          </div>
        </div>

        <div class="b-example-divider"></div>
        {% endfor %}
      </main>

      {% elif error_message %}
      <p>Error Message: {{ error_message }}</p>
      {% endif %}
    </div>

    <script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
    <script src="{{ url_for('static', filename='app-setup.js') }}"></script>
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
    <script src="{{ url_for('static', filename='sidebars.js') }}"></script>
  </body>
</html>
